*{
    margin:  0;
    padding: 10;
   font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: white;

}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(Image/bg.png);
    background-size: cover;
    background-position: center;
}

#profession-text {
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

#profession-text.typing-animation {
    animation: typing 1s steps(30) forwards;
}

#profession-text .red-text {
    color: red;
}

#profession-text .red-text {
    color: red;
}

#profession-text .white-text {
    color: white;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.container{
    padding: 10px 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    width: 150px;
    margin-left: -20px;
   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 15px;
    font-size: 60px;
}

.header-text h1 span{
    color: #ff004f;
}


/* ------------ About Section --------------*/
#about{
    padding: 80px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    height: 600px;
    border-radius: 15px;
    margin-left: 0px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 30px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.tab-links.active-link::after {
    /* Add styles for active tab title */
    /* Example: */
    width: 50%;
}

.tab-contents ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.tab-contents ul li {
    margin: 15px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*---------------Specialization----------------*/
#specializations{
    padding: 30px 0;
}

.specializations-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.specializations-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.specializations-list div i{
    font-size: 50px;
    margin-bottom: 25px;
    margin-right: 15px;
}

.specializations-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.specializations-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.specializations-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}


/*---------------Projects----------------*/
#projects{
    padding: 50px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 300;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;

}

.btn{
    display: block;
    margin: 100px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/*---------------Contact----------------*/
.contact-left{
    flex-basis: 35%;
    margin-top: -60px;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 5px;
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
    margin-top: -60px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 20px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 500;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
}

/*--------------------------------Responsiveness--------------------------------*/
/*---------------CSS for small screens--------------*/

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header{
        background-image: url(Image/bg600.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .logo{
        width: 120px;
        margin-left: -40px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        color: #ff004f;
        margin-right: -15px;
        position: sticky;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 0 25px -20px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: white;
    }

    .header-text{
        margin-top: 15%;
        font-size: 20px;
    }

    .header-text h1{
        margin-top: 10px;
        font-size: 30px;
    }

    .sub-title{
        font-size: 35px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .layer h3{
        font-weight: 300;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 10px;
        font-weight: bold;
    }
    
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 16px;
        line-height: 45px;
        background: white;
        width: 45px;
        height: 45px;
        border-radius: 60%;
        text-align: center;
    }
    
    .contact-left,.contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -70px;
    margin-bottom: 80px;
    display: block;
}
