.footer{

margin-top:100px;

padding:70px 24px 30px;

border-top:1px solid var(--border);

background:var(--secondary-bg);
}

.footer-container{

display:flex;

justify-content:space-between;

gap:4rem;

margin-bottom:3rem;
}

.footer-left{

max-width:420px;
}

.footer-left h2{

font-family:
"Space Grotesk";

font-size:2rem;

margin-bottom:1rem;
}

.footer-left p{

color:var(--text-secondary);

line-height:1.8;

margin-bottom:1.5rem;
}

.footer-socials{

display:flex;

gap:1rem;
}

.footer-socials a{

width:42px;

height:42px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

border:1px solid var(--border);

background:white;

transition:.3s;
}

.footer-socials a:hover{

transform:
translateY(-4px);

border-color:
var(--accent);
}

.footer-right h4{

margin-bottom:1rem;
}

.footer-links{

display:flex;

flex-direction:column;

gap:.8rem;
}

.footer-links button{

color:var(--text-secondary);

text-align:left;

transition:.3s;
}

.footer-links button:hover{

color:
var(--text-primary);

transform:
translateX(5px);
}

.footer-bottom{

padding-top:2rem;

border-top:1px solid var(--border);

display:flex;

justify-content:space-between;

font-size:.9rem;

color:var(--text-secondary);
}

@media(max-width:768px){

.footer-container{

flex-direction:column;
}

.footer-bottom{

flex-direction:column;

gap:.8rem;

text-align:center;
}
}