/* src/App.css */

#root {
  width: 100%;
}

/* src/App.css */

.app {
  width: 100%;
  min-height: 100vh;
}

/* Common section title */

.section-title {
  font-size: 2.5rem;
  font-weight: 700;

  margin-bottom: 1rem;

  text-align: center;
}

.section-subtitle {
  max-width: 650px;

  margin: 0 auto 4rem;

  text-align: center;

  color: var(--text-secondary);

  line-height: 1.7;
}